body {
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  margin-top: 80px;
  background: #ffffff;
  min-height: calc(100vh - 80px);
}

.alert {
  width: 90%;
  margin: 5px auto;
}