<div class="search-container">
    <%= form_with url: index_post_path, class:"form",method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="タイトルで検索" value="<%= params[:title] %>">
    <%= form.submit"検索",class: "button" %>
   <% end %>
</div>